parameters:
	ignoreErrors:
		-
			message: '#^Method App\\Http\\Controllers\\CompareController\:\:bestSlugs\(\) has parameter \$properties with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Http/Controllers/CompareController.php

		-
			message: '#^Method App\\Http\\Controllers\\CompareController\:\:bestSlugs\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Http/Controllers/CompareController.php

		-
			message: '#^Method App\\Http\\Controllers\\CompareController\:\:computeHighlights\(\) has parameter \$properties with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Http/Controllers/CompareController.php

		-
			message: '#^Method App\\Http\\Controllers\\CompareController\:\:computeHighlights\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Http/Controllers/CompareController.php

		-
			message: '#^Method App\\Http\\Controllers\\CompareController\:\:index\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Http/Controllers/CompareController.php

		-
			message: '#^Method App\\Http\\Controllers\\CompareController\:\:load\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Http/Controllers/CompareController.php

		-
			message: '#^Method App\\Http\\Controllers\\HomeController\:\:index\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Http/Controllers/HomeController.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 3
			path: app/Http/Controllers/PropertyController.php

		-
			message: '#^Method App\\Http\\Controllers\\PropertyController\:\:buildFilters\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Http/Controllers/PropertyController.php

		-
			message: '#^Method App\\Http\\Controllers\\PropertyController\:\:enquire\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Http/Controllers/PropertyController.php

		-
			message: '#^Method App\\Http\\Controllers\\PropertyController\:\:enrichWithCoordinates\(\) has parameter \$items with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Http/Controllers/PropertyController.php

		-
			message: '#^Method App\\Http\\Controllers\\PropertyController\:\:enrichWithCoordinates\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Http/Controllers/PropertyController.php

		-
			message: '#^Method App\\Http\\Controllers\\PropertyController\:\:extras\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Http/Controllers/PropertyController.php

		-
			message: '#^Method App\\Http\\Controllers\\PropertyController\:\:index\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Http/Controllers/PropertyController.php

		-
			message: '#^Method App\\Http\\Controllers\\PropertyController\:\:map\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Http/Controllers/PropertyController.php

		-
			message: '#^Method App\\Http\\Controllers\\PropertyController\:\:recordView\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Http/Controllers/PropertyController.php

		-
			message: '#^Method App\\Http\\Controllers\\PropertyController\:\:show\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Http/Controllers/PropertyController.php

		-
			message: '#^Method TouchEstate\\Sdk\\Service\\PropertiesService\:\:recordView\(\) invoked with 2 parameters, 1 required\.$#'
			identifier: arguments.count
			count: 1
			path: app/Http/Controllers/PropertyController.php

		-
			message: '#^Unable to resolve the template type TKey in call to function collect$#'
			identifier: argument.templateType
			count: 1
			path: app/Http/Controllers/PropertyController.php

		-
			message: '#^Unable to resolve the template type TValue in call to function collect$#'
			identifier: argument.templateType
			count: 1
			path: app/Http/Controllers/PropertyController.php

		-
			message: '#^Method App\\Http\\Middleware\\SetLocale\:\:handle\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Http/Middleware/SetLocale.php

		-
			message: '#^Parameter \#1 \$json of function json_decode expects string, string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: routes/web.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 3
			path: routes/web.php

		-
			message: '#^Unable to resolve the template type TKey in call to function collect$#'
			identifier: argument.templateType
			count: 1
			path: routes/web.php

		-
			message: '#^Unable to resolve the template type TValue in call to function collect$#'
			identifier: argument.templateType
			count: 1
			path: routes/web.php

		-
			message: '#^Call to an undefined method TouchEstate\\Sdk\\Service\\ContactsService::inquiry\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Controllers/PropertyController.php
