parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method TouchEstate\\Sdk\\Service\\ContactsService\:\:inquiry\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Controllers/PropertyController.php

		-
			message: '#^Method TouchEstate\\Sdk\\Service\\PropertiesService\:\:recordView\(\) invoked with 2 parameters, 1 required\.$#'
			identifier: arguments.count
			count: 1
			path: app/Http/Controllers/PropertyController.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 2
			path: routes/web.php

		-
			message: '#^Unable to resolve the template type TKey in call to function collect$#'
			identifier: argument.templateType
			count: 1
			path: routes/web.php

		-
			message: '#^Unable to resolve the template type TValue in call to function collect$#'
			identifier: argument.templateType
			count: 1
			path: routes/web.php
