@use '../utils/' as *;

// banner section 
.Home-banner-section {
    padding: 137px 0px;
    background: url(../img/home/bg/banner-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    overflow: hidden;

    .banner-content {
        margin-bottom: 40px;

        @include respond-below(lg) {
            text-align: center;

        }
        h1 {
            color: var(--gray-900);
            font-size: 44px;
            @include respond-below(sm) {
                font-size: 32px;
            }
        }
        p {
            color: var(--gray-900);
        }
    }
    .home-search-1 {
        padding: 0px;
        .nav {
            margin-bottom: 15px;
            gap: 15px;
            border-bottom: none;
            .nav-link {
                font-size: 14px;
                font-weight: $font-weight-medium;
                color: var(--gray-900);
                padding: 8px 16px;
                border-radius: $border-radius-lg;
                background-color: var(--white);
                display: flex;
                align-items: center;
                border: none;
                outline: none;
                &.active{
                    background-color: var(--primary);
                    color: var(--white);

                }
            }
        }
        .search-item {
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0px 0px 24px 0px rgba(197, 197, 197, 0.2509803922);
            background: var(--white);
        }

        .custom-search-item{

            button {
                width: 42px;
                height: 42px;
            }

            @include respond-below(lg) {
                width: 100%;
                button {
                    width: 100%;  
                }
            }

        }

        .select2-container--default {
            .select2-selection--single {
                .select2-selection__rendered {
                    line-height: 42px;
                }
            }
        }
        
        .form-control {
            min-height:42px ;
        }
    }

    @include respond-below(lg) {
        padding: 45px 0px;
    }
}

// section heading
.section-heading {
    margin-bottom: 40px;
    .sec-line {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;
        .sec-line1 {
            width: 20px;
            height: 4px;
            background: var(--primary);
            display: inline-block;
        }
        .sec-line2 {
            width: 20px;
            height: 4px;
            background: var(--secondary);
            display: inline-block;
        }
    }
}

// how it works
.section-padding {
    padding: 60px 0px;

    @include respond-below(lg) {
        padding: 40px 0px;
    }
}


.how-work-section {

    .howit-work-item {
        box-shadow: $box-shadow-sm;
        border-radius:$border-radius-xxl ;
        padding: 24px;
        transition: all 0.5s;
        &:hover {
            transform: translateY(-10px);
        }
    }
}

//  property section
.home-property-section{
    padding: 60px 0px;
    .property-slider{
        position: unset;
        .slick-slide{
            margin: 0px 0px 0px 23px;
        }
    }
    .property-item {
        box-shadow: unset;
        .property-card-item {
            padding: 40px ;
            background: var(--white);
            border-radius: $border-radius-xxl;
            text-align: center;
        }

        @include respond-below (lg) {
            margin: 0px 12px;
        }
    }

    .slider-nav-thumbnails {
        .slick-slide {
            margin: 0px 12px;
            height: 126px;
            @include respond-below(md) {
                margin: auto;
            }
            img{
                border-radius: $border-radius-lg;
                height: 100%;
                @include respond-below(md) {
                    margin: auto;
                }
            }
        }
    }
    .slick-arrow {
        width: 36px;
        height: 36px;
        border: 1px solid var(--gray-100);
        font-size: 0;
        background: var(--white);
        border-radius: 50%;
        z-index: 9999;
        transition: 0.5s all;
        @include respond-below(sm){
            width: 22px;
            height: 22px;
        }
    }
    .slick-next {
        position: absolute;
        left: 57px;
        right: unset;
        bottom: -65px;
        transform: unset;
        margin: auto;
        z-index: 0;

        &::before {
            content: "\f061";
            display: inline-block;
            font-family: "Font Awesome 5 Free";
            font-size: 12px;
            font-weight: 900;
            color: var(--dark);
        }
        &:hover {
            transform: translateY(-10px);
            transition: 0.4s all;
        }
        @include respond-below(lg) {
            left: unset;
            right: 0px;
            bottom: 30px;
        }
        @include respond-below(sm) {
            bottom: 9px;
            right: 11px;
        }
    }
    .slick-prev {
        position: absolute;
        left: 11px;
        bottom: -65px;
        transform: unset;
        margin: auto;
        z-index: 0;

         &::before {
            content: "\f060";
            display: inline-block;
            font-family: "Font Awesome 5 Free";
            font-size: 12px;
            font-weight: 900;
            color: var(--dark);
        }
        &:hover {
            transform: translateY(-10px);
            transition: 0.4s all;
        }
        @include respond-below(lg) {
            bottom: 30px; 
            left: 0px;
            z-index: 1;
        }
        @include respond-below(sm) {
            bottom: 9px;
            left: 11px;
        }
    }

    .custom-element-img-1 {
        position: absolute;
        left: 41px;
        top: -97px;
    }
    .custom-element-img-2 {
        position: absolute;
        left: -25px;
        bottom: -50px;
    }
}

// features section

.features-section {
    .feature-slider-item {
        margin-bottom: 40px;

        @include respond-below (lg) {
            .property-card {
                min-height: 280px;
            }
        }
        .features-slide-card {
            margin: 0px 12px;
        }

        @include respond-below (sm) {
            margin-bottom: 0px;
        }
    }

    .slick-arrow {
        width: 36px;
        height: 36px;
        font-size: 0;
        background: var(--white);
        border-radius: 50%;
        z-index: 9999;
        transition: 0.5s all;
        @include respond-below(sm){
            width: 25px;
            height: 25px;
        }
    }
    .slick-next {
        position: absolute;
        right: 15px;
        left: unset;
        top: -65px;
        transform: unset;
        z-index: 0;

        &::before {
            content: "\f061";
            display: inline-block;
            font-family: "Font Awesome 5 Free";
            font-size: 12px;
            font-weight: 900;
            color: var(--dark);
        }
        &:hover {
            transform: translateY(-10px);
            transition: 0.4s all;
            background-color: var(--light);
        }
        @include respond-below(sm) {
            top: -32px;
        }
    }
    .slick-prev {
        position: absolute;
        right: 59px;
        left: unset;
        top: -65px;
        transform: unset;
        z-index: 0;

         &::before {
            content: "\f060";
            display: inline-block;
            font-family: "Font Awesome 5 Free";
            font-size: 12px;
            font-weight: 900;
            color: var(--dark);
        }
        &:hover {
            transform: translateY(-10px);
            transition: 0.4s all;
            background-color: var(--light);
        }

        @include respond-below(sm) {
            top: -32px;
            right: 44px;
        }
    }
}

// cities section

.cities-section {
    padding: 60px 0px 56px;
    .city-items-slide {
        .city-item {
            margin: 0px 12px;
            overflow: hidden;
            border-radius: $border-radius-xxl;

            &:hover {
                .arrow-overlay {
                    a {
                        transform:translateY(0px);
                    }
                }
                .city-img {

                    &::before {
                        transition: all 0.5s;
                        z-index: 0;
                    }
                    img {
                        transform: rotate(2deg) scale(1.1);
                    }
                }
            }
            .city-img {
                &::before {
                    content: "";
                    position: absolute;
                    background: var(--dark)00099;
                    width: 100%;
                    height: 100%;
                    border-radius: $border-radius-xxl;
                    transition: all 0.5s;
                }
                img {
                    width: 100%;
                    height: 100%;
                    transition: all 0.5s;
                }
            }
            .city-name {
                position: absolute;
                bottom: 20px;
                left: 20px;
            }
            .arrow-overlay{
                position: absolute;
                right: 0;
                bottom: 0;

                a {
                    width: 70px;
                    height: 70px;
                    background: var(--primary);
                    border-radius: 50%;
                    color: var(--white);
                    transform: translateY(250px);
                    transition: 0.5s all;
                    position: relative;
                    right: -13px;
                    bottom: -11px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            h5 {
                color: var(--white);
            }
            p {
                color: var(--light);
            }
        }
    }

    .slick-dots {
        bottom: -40px;
        li {
            width: auto;
            height: auto;
            margin: 0 1px;
            button {
                width: 8px;
                height: 8px;
                background: var(--gray-100);
                border-radius: 30px;
            }
        }
        .slick-active {
            button {
                background-color: var(--primary) !important;
                width: 22px !important;
                margin: 0px 2px;
            }
        }
    }

    @include respond-below (sm) {
        padding: 35px 0px 40px;
    }
}

// statistics section

.statistics-section {

    .statistics-item {
        padding: 20px;
        border-radius: $border-radius-xxl;
        background-color: var(--white);
        transition: 0.5s all;
        width: 100%;
        max-width: 306px;
        &:hover {
            transform: translateY(-10px);
        }

        @include respond-below(xxl) {
            max-width: 266px;
        }

        @include respond-below(xl) {
            max-width: 228px;
        }

        @include respond-below(lg) {
            max-width: 49%;
        }

        @include respond-below(sm) {
            margin-bottom: 0px;
            max-width: 100% !important;
        }
    }
    .custom-element-img-1 {
        position: absolute;
        right: 45px;
        top: -90px;
        transform: rotateY(180deg);
    }
    .custom-element-img-2 {
        position: absolute;
        right: -23px;
        bottom: -50px;
        transform: rotateY(180deg);
    }
}

// buy property section

.buy-property-section {

    .buy-property-item {

        width: 100%;
        max-width: 416px;
        margin: auto;

        &:hover {
            .img-card {
                img {
                    transform: scale(1.1);
                    transition: 0.5s;
                }
            }
        }
        .buy-property {
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0px 0px 24px 0px rgba(197, 197, 197, 0.2509803922);
            margin: -45px auto 0px;
            position: relative;
            width: 100%;
            max-width: 370px;
            .arrow {
                width: 36px;
                height: 36px;
                color: var(--white);
                transition: all 0.6s;

                &:hover {
                    transition: all 0.6s;
                    transform: translateX(5px);
                }
            }
            .bg-error {
                background-color: var(--danger);
            }

            @include respond-below(xl) {
                max-width: 268px;
            }

            @include respond-below(xxl) {
                max-width: 310px;
            }

            @include respond-below(sm) {
                max-width: 268px;
            }
        }
        .img-card {
            border-radius: $border-radius-xxl;

            img {
                border-radius: $border-radius-xxl;
                transition: 0.5s;
                transform: scale(1);
            }
        }
    }
}

// partnres section

.partners-section {
    
    .partners-slide {
        margin: 0px 12px;
    }
    .partners-items {
        width: 100%;
        max-width: 200px;
        background: var(--light);
        border-radius: $border-radius-xxl;
        text-align: center;
        padding: 20px;
        
        img {
            width: auto;
            margin: auto;
        }
    }

}

// testimonial section

.testimonials-section {
    background-color: var(--dark);
    background-image: url(../img/home/bg/testimonial-bg.png);
    background-size: cover;
    background-position: center;
    position: relative;
    padding-bottom: 100px;
    
    .testimonials-slider-item {

        padding-bottom: 50px;
    
        .testimonials-slide {
            margin: 0px 12px;

            .testimonials-item {
                background: var(--white);
                border-radius: $border-radius-xxl;
                padding: 20px;
                text-align: center;
                    
                h6 {
                    font-size: 16px;
                }
            }
        }
        .slick-arrow {
            width: 36px;
            height: 36px;
            font-size: 0;
            background: var(--white);
            border-radius: 50%;
            z-index: 9999;
            transition: 0.5s all;
            @include respond-below(sm){
                width: 25px;
                height: 25px;
            }
        }
        .slick-next {
            position: absolute;
            right: -45px;
            left: 0px;
            bottom: -50px;
            top: unset;
            margin: auto;
            z-index: 0;

            &::before {
                content: "\f061";
                display: inline-block;
                font-family: "Font Awesome 5 Free";
                font-size: 12px;
                font-weight: 900;
                color: var(--dark);
            }
            &:hover {
                transform: translateY(-10px);
                transition: 0.4s all;
                background-color: var(--light);
            }

            @include respond-below(lg){
                bottom: -30px;
            }
        }
        .slick-prev {
            position: absolute;
            right: 0px;
            left: -45px;
            bottom: -50px;
            top: unset;
            margin: auto;
            z-index: 0;

            &::before {
                content: "\f060";
                display: inline-block;
                font-family: "Font Awesome 5 Free";
                font-size: 12px;
                font-weight: 900;
                color: var(--dark);
            }
            &:hover {
                transform: translateY(-10px);
                transition: 0.4s all;
                background-color: var(--light);
            }
            @include respond-below(lg){
                bottom: -30px;
            }
        }

        @include respond-below(sm) {
            padding-bottom: 30px;   
        }
    }

    @include respond-below(lg) {
        padding-bottom: 60px;
    }
}


// pricing-plan-section

.pricing-plan-section {

    .pricing-item-02 {

        &:hover {
            transition: all 0.5s;
            background-color: var(--secondary) ;
            border-color: transparent ;

            h4 ,h6 ,p ,h2 , hr {
                color: var(--white);
                span {
                    color: var(--white);
                }
            }

            .btn-dark {
                background: var(--white);
                color: var(--gray-900);
                &:hover {
                    transition: 0.8s all;
                    background: var(--dark);
                    color: var(--white);
                }

            }   
        }

        .btn-dark {
            font-size: 16px;
            font-weight: 500;
        }

        &.popular {
            .bookmark-sideright-ribbone-primary-right {
                span {  
                    right: -17px;
                    font-weight: $font-weight-semibold;
                    &::before {
                        content: "";
                        position: absolute;
                        width: 0;
                        height: 0;
                        border-top: 25px solid pink;
                        border-right: 15px solid transparent;
                        border-left: none;
                        border-bottom: none;
                        right: 0;
                        top: 31px;
                        @include respond-below(sm) {
                            content: unset;
                        }
                    }

                    @include respond-below(sm) {
                        right: 0px;
                    }
                }
            }
        }

    }

    .pricing-item-nav {
        width: 219px;
        border: 1px solid var(--gray-100);
        border-radius: 37px;
        padding: 8px 13px;
        font-size: 16px;
        font-weight: 400;
        color: var(--dark);
        gap: 8px;

        .nav-tabs {
            padding: 3px !important;
            border: 1px solid var(--gray-100);
            border-radius: 50px !important;
            background: var(--success);

            .nav-link {
                font-size: 16px !important;
                font-weight: 500;
                color: var(--gray-900);
                width: 20px;
                height: 20px;
                border-radius: 50% !important;
                padding: 0px !important;
                border: none;
                &.active {
                    background: var(--white) !important;

                }
            }
        }
    }

}


// faq section 

.faq-section {

    .custom-faq-img {
        width:100%;
        height: 100%;
        object-fit: cover;
        @include respond-below(lg) {
            margin-bottom: 24px;
            height: auto;
        }
    }

}

// agent-section

.agent-section {
    position: relative;
    overflow: hidden;
    padding: 90px 0px;

    @include respond-below(lg) {
       padding: 40px 0px;
    }
    .custom-element-img-1 {
        position: absolute;
        left: 41px;
        top: -97px;
    }
    .custom-element-img-2 {
        position: absolute;
        left: -25px;
        bottom: -50px;
    }
    .custom-circle-line-1 {
        width: 20px;
        height: 20px;
        color: var(--primary);
        border-radius: 50%;
        position: absolute;
        left: 80px;
        bottom: 33px;
    }
    .custom-circle-line-2 {
        width: 13px;
        height: 13px;
        color: var(--secondary);
        border-radius: 50%;
        position: absolute;
        right: 250px;
        top: 41px;
    }

}

// home blog

.home-blog-section {
    .row-gap-4 {
        margin-bottom: 40px;
    }
}

// support section

.home-support-section {

    .input-group {
        .form-control {
            height: 42px;
            padding: 0px 0px 0px 37px;
            &:focus {
                z-index: 1 !important;
                i {
                    color: var(--dark);
                }
            }
        }
    }
    .support-custom-icons {
        width: 100%;
        i { 
            position: absolute;
            left: 13px;
            top: 14px;
        }
    }
}